<div *ngIf="errorMessage" class="text-red-500">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="survey" class="bg-gray-300 shadow-lg border border-gray-200 rounded-xl p-6 max-w-2xl mx-auto my-8">
  <h1 class="text-3xl font-bold text-gray-900 mb-4">{{ survey.title }}</h1>
  <p class="text-lg text-gray-700 mb-4">{{ survey.description }}</p>
  <div class="flex items-center space-x-2 text-gray-600">
    <svg class="w-5 h-5 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>
    <p class="text-base"><strong>Fecha de Inicio:</strong> {{ survey.startDate }}</p>
  </div>
</div>

<div *ngIf="survey && survey.questions.length" class="bg-white shadow-lg border border-gray-200 rounded-xl p-6 max-w-2xl mx-auto my-8">
  <h2 class="text-2xl font-bold text-gray-900 mb-4">Preguntas de la Encuesta</h2>

  <div *ngFor="let question of survey.questions; let i = index" class="mb-6 p-4 border border-gray-200 rounded-lg bg-gray-50">
    <h1 class="text-xl font-semibold text-gray-800 mb-2">Pregunta {{i+1}}</h1>
    <h3 class="text-xl font-semibold text-gray-800 mb-2">{{ question.questionText }}</h3>
    <div class="ml-4">
      <ul class="list-disc pl-5 space-y-2">
        <li *ngFor="let option of question.options" class="text-gray-700">
          <label class="flex items-center">
            <input type="radio" name="question-{{ question.id }}" value="{{ option.optionText }}" class="mr-2 text-blue-500" />
            {{ option.optionText }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
