<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm py-6 shadow-md rounded">
      <img class="mx-auto h-11 w-auto" src="https://companieslogo.com/img/orig/SWON.SW-2604e1a2.png?t=1683520280" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Iniciar sesión</h2>
    </div>
    
    <div [formGroup]="formLogin" class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm shadow-md p-5 rounded">
      <p class="text-red-600 font-semibold bg-red-300 rounded text-center" *ngIf="loginErrorSwitch">{{loginError}}</p>
      <form class="space-y-6" action="#" method="POST">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
          <div class="mt-2">
            <input id="email" name="Correo" type="email" formControlName="Correo" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
            <div class="text-red-600 font-semibold bg-red-300 rounded text-center" *ngIf="hasErrors('Correo', 'email')">
              Email invalido
            </div>
            <div class="text-red-600 font-semibold bg-red-300 rounded text-center" *ngIf="hasErrors('Correo', 'required')">
              Email requerido
            </div>
          </div>
        </div>
  
        <div>
          <div class="flex items-center">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
          </div>
          <div class="mt-2">
            <input id="Contrasenna" name="Contrasenna" type="password" formControlName="Contrasenna" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
          </div>
          <div class="text-red-600 font-semibold bg-red-300 rounded text-center"  *ngIf="hasErrors('Contrasenna', 'required')">
            Contraseña requerida
          </div>
        </div>
  
        <div>
          <button type="submit" (click)="login()" class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Inicia sesión
          </button>
        </div>
      </form>
    </div>
</div>
