<div class="flex justify-center items-start min-h-screen bg-gray-100 p-6">
  <div class="w-full max-w-4xl bg-white p-6 rounded-lg shadow-md flex flex-col lg:flex-row gap-8">
    <!-- Formulario -->
    <div class="flex-1 bg-white p-6 rounded-lg shadow-md">
      <form [formGroup]="surveyForm" (ngSubmit)="submitSurvey()" class="space-y-4">
        <div class="flex flex-col space-y-2">
          <label for="titulo" class="text-gray-700 font-medium">Título:</label>
          <input type="text" formControlName="title" id="titulo"
            class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="flex flex-col space-y-2">
          <label for="descripcion" class="text-gray-700 font-medium">Descripción:</label>
          <input type="text" formControlName="description" id="descripcion"
            class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="flex flex-col space-y-2">
          <label class="text-gray-700 font-medium">Fecha de Ejecución:</label>
          <div class="flex gap-4">
            <input type="date" formControlName="startDate" id="fechadeejecucion"
              class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            <input type="time" formControlName="startHour" id="horadeejecucion"
              class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
        </div>
        <div>
          <p class="text-gray-700">¡Complete los datos!</p>
          <button type="submit" [disabled]="!surveyForm.valid"
            class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 disabled:bg-gray-400">Agregar</button>
        </div>
      </form>
    </div>

    <!-- Lista de Cuestionarios -->
    <div class="flex-1">
      <ul class="space-y-4">
        <li *ngFor="let survey of surveyList; let index = index"
          class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm">
          <p class="text-sm font-medium text-gray-800">ID: {{ survey.id }}</p>
          <p class="text-sm text-gray-600">Título: {{ survey.title }}</p>
          <p class="text-sm text-gray-600">Descripción: {{ survey.description }}</p>
          <p class="text-sm text-gray-600">Fecha de Creación: {{ survey.created | date:"EEEE, dd MMM yyyy, hh:mm
            a" }}</p>
          <p class="text-sm text-gray-600">Fecha de Ejecución: {{ survey.startDate | date:"EEEE, dd MMM yyyy,
            hh:mm a" }}</p>
          <div class="mt-4 flex space-x-2">
            <button (click)="deleteSurvey(survey.id)"
              class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Eliminar</button>
            <button routerLink="/managesurvey" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Gestionar</button>
          </div>
        </li>
        <li *ngIf="surveyList.length === 0">
          <h3 class="text-lg font-medium text-gray-700">¡No hay cuestionarios aún!</h3>
        </li>
      </ul>
    </div>
  </div>
</div>

