<h2 class="flex items-center mt-24">
  <span class="flex-grow border-t border-black"></span>
  <span class="mx-4 px-4 py-2.5 text-xl font-medium bg-black text-white rounded leading-none">
    Cuestionarios
  </span>
  <span class="flex-grow border-t border-black"></span>
</h2>

<div *ngIf="isAuthenticated" class="py-6 px-4 text-center">
  <p class="text-lg font-semibold text-slate-800">
      Hola, <span class="text-blue-600">{{userInfo?.name}}</span>!
  </p>
</div>

<div *ngIf="!isAuthenticated" class="py-7 px-4 text-center bg-slate-100 border border-slate-200 rounded-lg shadow-sm">
    <p class="text-lg font-medium text-slate-700">Aún no has iniciado sesión</p>
</div>
<div *ngIf="isAuthenticated">
  <p class="text-xl font-semibold text-center mb-6">Cuestionarios asignados</p>
  <div class="flex flex-wrap justify-center mt-10">
    <div class="p-4 max-w-sm shadow-black" *ngFor="let questionnaire of userInfo?.questionnaires">
        <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
            <div class="flex items-center mb-3">
                <div
                    class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M6 9h12M6 15h12M6 21h12M3 4h18a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1z"></path>
                  </svg>
                </div>
                <h2 class="text-white dark:text-white text-lg font-medium">{{ questionnaire.title }}</h2>
            </div>
            <div class="flex flex-col justify-between flex-grow">
                <p class="leading-relaxed text-base text-white dark:text-gray-300">
                  <strong>Fecha de ejecución: </strong>{{ questionnaire.executionDate }}
                </p>
                <a href="#" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center"> Ver más información
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>

    </div>
    <button routerLink="/createsurvey"
      class="px-4 py-2 font-semibold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
      Crear cuestionario
    </button>
  </div>

</div>






